flask==3.0.3
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-socketio==5.3.6
flask-sqlalchemy==3.1.1
requests==2.31.0
gtts==2.5.1
pydub==0.25.1
mysql-connector-python==8.1.0
paho-mqtt==1.6.1
gunicorn==21.2.0
eventlet==0.33.3
werkzeug==3.0.1
passlib[bcrypt]==1.7.4
urllib3==2.0.7
python-dotenv==1.0.0
geopy==2.3.0
pymysql==1.1.0
# pip install -r requirements.txt
